In [44]:
#here i predict the price of houses in boston with KNeighborsRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.datasets import load_boston
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
import pandas as pd
import numpy as np

In [3]:
boston=load_boston()
boston.keys()

dict_keys(['DESCR', 'data', 'target', 'feature_names'])

In [12]:
bos=pd.DataFrame(boston['data'])
bos.columns=boston['feature_names']
bos['Price']=boston['target']

In [15]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [19]:
bos.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'Price'],
      dtype='object')

In [20]:
feature_col=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']

In [21]:
#here X is a feature matrix
X=bos[feature_col]

In [23]:
#Here y is a label vector
y=bos['Price']

In [24]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [25]:
X.shape

(506, 13)

In [26]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Price, dtype: float64

In [27]:
y.shape

(506,)

In [37]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [38]:
x_train.shape

(404, 13)

In [39]:
x_test.shape

(102, 13)

In [41]:
#Modelling of data
knr=KNeighborsRegressor(n_neighbors=5)
knr.fit(x_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [42]:
#testing of data
y_pred=knr.predict(x_test)

In [47]:
#We use KNearestRegressor so for validating accuracy we use root mean squared error
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

6.7412659543

In [48]:
#So here is the error i know its large i tried my best to minimize it in the next day work..